*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    margin: 10px;
    display: flex;
    justify-content: end;
    text-decoration: none;
}

a button{
    padding: 10px;
    background-color: bisque;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    color:forestgreen;
}

a button:hover{
    background-color: chocolate;
    border:1px solid black;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out;
}

.tooltip-inner {
    background-color: rgba(0,0,0,0.5) !important; /* semi-transparent background */
    color: #fff !important;                       /* keep text readable */
}

.tooltip-arrow::before {
    border-top-color: rgba(0,0,0,0.5) !important; /* match arrow color */
    border-right-color: rgba(0,0,0,0.5) !important;
    border-bottom-color: rgba(0,0,0,0.5) !important;
    border-left-color: rgba(0,0,0,0.5) !important;
}

#loadingSpinner, #dataContainer {
    min-height: 300px;
}



/*table button{
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    background-color: crimson;
    min-width: 50px;
    font-weight: bold;
}*/





