*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    margin: 10px;
    display: flex;
    justify-content: end;
    text-decoration: none;
}

a button{
    padding: 10px;
    background-color: bisque;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    color:forestgreen;
}

a button:hover{
    background-color: chocolate;
    border:1px solid black;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out;
}



table button{
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    background-color: crimson;
    min-width: 50px;
    font-weight: bold;
}





